In [1]:
import pandas as pd
import numpy as npy
import matplotlib as pyplt

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
dataset["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [5]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [6]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [7]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [20]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
param_grid={'criterion':['gini', 'entropy'],
           'splitter':['best', 'random'],
           'max_features': ['auto', 'sqrt', 'log2'],}
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [21]:
grid_predictions=grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,grid_predictions)

from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [22]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_predictions,average='weighted')
print("f1_macro value for best parameter{}:".format(grid.best_params_),f1_macro)

f1_macro value for best parameter{'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'random'}: 0.9668037602820211

In [23]:
re=grid.cv_results_
print(re)

{'mean_fit_time': array([0.01359038, 0.01778812, 0.01618938, 0.01399121, 0.01139302,
       0.01079288, 0.01059351, 0.01239233, 0.01159229, 0.00959411,
       0.007195  , 0.0095943 ]), 'std_fit_time': array([0.00371784, 0.0063655 , 0.00292349, 0.00227916, 0.00119894,
       0.00132704, 0.00101968, 0.00195806, 0.0027982 , 0.00049   ,
       0.00146932, 0.00102052]), 'mean_score_time': array([0.00639577, 0.00779581, 0.00879412, 0.00639548, 0.00799475,
       0.00659657, 0.00639567, 0.00799527, 0.00679598, 0.00579619,
       0.0035974 , 0.00519695]), 'std_score_time': array([0.0004908 , 0.00222521, 0.00193792, 0.00048908, 0.00351928,
       0.0007993 , 0.00048961, 0.00303139, 0.00074861, 0.00074744,
       0.00048893, 0.00097813]), 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=['auto', 'auto', 'sqrt', 'sqrt', 'log2', 'log2', 'auto',
                   'auto', 'sqrt', 'sqrt', 'log2', 'log2'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_splitter': masked_array(data=['best', 'random', 'best', 'random', 'best', 'random',
                   'best', 'random', 'best', 'random', 'best', 'random'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'gini', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'auto', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'random'}], 'split0_test_score': array([0.94701493, 0.9822211 , 0.92951252, 0.98205084, 0.9466633 ,
       0.94701493, 0.9822211 , 0.94546891, 0.96428571, 1.        ,
       0.9822211 , 0.96457219]), 'split1_test_score': array([0.92777778, 0.96457219, 0.96428571, 0.98205084, 0.94615252,
       0.96428571, 0.94615252, 0.92914439, 0.89285714, 0.90911486,
       0.94615252, 0.91025421]), 'split2_test_score': array([0.87684124, 0.9466633 , 0.94701493, 0.9466633 , 0.92914439,
       0.94701493, 0.89453125, 0.92914439, 0.94701493, 0.98205084,
       0.94701493, 0.9466633 ]), 'split3_test_score': array([0.92857143, 0.96428571, 0.85828877, 0.98205084, 0.96457219,
       0.9822211 , 0.91025421, 0.98205084, 0.9466633 , 0.94546891,
       0.96428571, 0.9822211 ]), 'split4_test_score': array([0.94518461, 0.98189391, 0.96363636, 0.98189391, 0.9817282 ,
       0.9817282 , 0.96363636, 0.98189391, 0.96324675, 0.96391185,
       0.94568174, 0.98189391]), 'mean_test_score': array([0.925078  , 0.96792724, 0.93254766, 0.97494195, 0.95365212,
       0.96445297, 0.93935909, 0.95354049, 0.94281357, 0.96010929,
       0.9570712 , 0.95712094]), 'std_test_score': array([0.02542354, 0.01323673, 0.03925992, 0.01413946, 0.01796236,
       0.01563547, 0.03264757, 0.02396767, 0.02610243, 0.03131112,
       0.01438494, 0.02685179]), 'rank_test_score': array([12,  2, 11,  1,  7,  3, 10,  8,  9,  4,  6,  5])}

In [24]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.013590,0.003718,0.006396,0.000491,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.947015,0.927778,0.876841,0.928571,0.945185,0.925078,0.025424,12
1,0.017788,0.006365,0.007796,0.002225,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.982221,0.964572,0.946663,0.964286,0.981894,0.967927,0.013237,2
2,0.016189,0.002923,0.008794,0.001938,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.929513,0.964286,0.947015,0.858289,0.963636,0.932548,0.039260,11
3,0.013991,0.002279,0.006395,0.000489,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.982051,0.982051,0.946663,0.982051,0.981894,0.974942,0.014139,1
4,0.011393,0.001199,0.007995,0.003519,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.946663,0.946153,0.929144,0.964572,0.981728,0.953652,0.017962,7
5,0.010793,0.001327,0.006597,0.000799,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.947015,0.964286,0.947015,0.982221,0.981728,0.964453,0.015635,3
6,0.010594,0.001020,0.006396,0.000490,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.982221,0.946153,0.894531,0.910254,0.963636,0.939359,0.032648,10
7,0.012392,0.001958,0.007995,0.003031,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.945469,0.929144,0.929144,0.982051,0.981894,0.953540,0.023968,8
8,0.011592,0.002798,0.006796,0.000749,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.964286,0.892857,0.947015,0.946663,0.963247,0.942814,0.026102,9
9,0.009594,0.000490,0.005796,0.000747,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",1.000000,0.909115,0.982051,0.945469,0.963912,0.960109,0.031311,4
10,0.007195,0.001469,0.003597,0.000489,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.982221,0.946153,0.947015,0.964286,0.945682,0.957071,0.014385,6
11,0.009594,0.001021,0.005197,0.000978,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.964572,0.910254,0.946663,0.982221,0.981894,0.957121,0.026852,5

In [28]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.9688888888888889

In [29]:
print(cm)

[[44  1]
 [ 3 72]]

In [30]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.94      0.98      0.96        45
           1       0.99      0.96      0.97        75

    accuracy                           0.97       120
   macro avg       0.96      0.97      0.96       120
weighted avg       0.97      0.97      0.97       120