In [1]:
import pandas as pd
import numpy as npy
import matplotlib as pyplt

In [2]:
dataset=pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [4]:
dataset['classification_yes'].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [5]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [6]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [7]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
param_grid={'n_neighbors':[10,50,100], 
             'metric': ['minkowski'], 
             'weights':['uniform', 'distance'],
             'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute'],
             'p':[2]}
grid=GridSearchCV(KNeighborsClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'metric': ['minkowski'], 'n_neighbors': [10, 50, 100],
                         'p': [2], 'weights': ['uniform', 'distance']},
             scoring='f1_weighted', verbose=3)

In [11]:
grid_predictions=grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,grid_predictions)

from sklearn.metrics import classification_report
clf_report=classification_report(Y_test,grid_predictions)

In [12]:
print(cm)

[[45  0]
 [ 6 69]]

In [13]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.88      1.00      0.94        45
           1       1.00      0.92      0.96        75

    accuracy                           0.95       120
   macro avg       0.94      0.96      0.95       120
weighted avg       0.96      0.95      0.95       120

In [14]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_predictions,average='weighted')
print("f1_macro values for the best parameter{}:".format(grid.best_params_),f1_macro)

f1_macro values for the best parameter{'algorithm': 'auto', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'distance'}: 0.9505208333333334

In [15]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.9997037037037038

In [16]:
re=grid.cv_results_
print(re)

{'mean_fit_time': array([0.01139383, 0.00939212, 0.00919304, 0.00879326, 0.01119261,
       0.01339211, 0.01059346, 0.01039248, 0.00939417, 0.00939369,
       0.00939593, 0.00759511, 0.01019349, 0.00939507, 0.01139212,
       0.00899568, 0.00879388, 0.00639572, 0.00659513, 0.0065949 ,
       0.00699568, 0.00379834, 0.00319796, 0.00519657]), 'std_fit_time': array([0.00195813, 0.00392845, 0.00318692, 0.00171891, 0.00541496,
       0.00765259, 0.00722362, 0.0040277 , 0.00307274, 0.00392732,
       0.00162456, 0.00079968, 0.00159876, 0.00135604, 0.00257503,
       0.00089388, 0.0013254 , 0.00080078, 0.00101974, 0.00049115,
       0.00141256, 0.00074855, 0.00040076, 0.00074846]), 'mean_score_time': array([0.01579003, 0.00659933, 0.00959492, 0.00579677, 0.01139312,
       0.00759487, 0.00959449, 0.00599647, 0.01438971, 0.0053966 ,
       0.01039228, 0.00659647, 0.00959535, 0.00499716, 0.00899477,
       0.00559525, 0.01059346, 0.00619621, 0.00859566, 0.00419731,
       0.00779533, 0.00279746, 0.00519629, 0.00519681]), 'std_score_time': array([4.39831580e-03, 4.21927526e-03, 1.74226447e-03, 9.79150738e-04,
       2.57544511e-03, 3.55327132e-03, 1.62329892e-03, 1.41377443e-03,
       4.45071691e-03, 1.35567168e-03, 1.19941361e-03, 7.99251547e-04,
       1.02005222e-03, 2.68303011e-06, 6.32334354e-04, 4.89922240e-04,
       7.99381898e-04, 7.48086586e-04, 1.20073977e-03, 3.99852179e-04,
       1.16552602e-03, 3.99877631e-04, 4.01044016e-04, 7.48264789e-04]), 'param_algorithm': masked_array(data=['auto', 'auto', 'auto', 'auto', 'auto', 'auto',
                   'ball_tree', 'ball_tree', 'ball_tree', 'ball_tree',
                   'ball_tree', 'ball_tree', 'kd_tree', 'kd_tree',
                   'kd_tree', 'kd_tree', 'kd_tree', 'kd_tree', 'brute',
                   'brute', 'brute', 'brute', 'brute', 'brute'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_metric': masked_array(data=['minkowski', 'minkowski', 'minkowski', 'minkowski',
                   'minkowski', 'minkowski', 'minkowski', 'minkowski',
                   'minkowski', 'minkowski', 'minkowski', 'minkowski',
                   'minkowski', 'minkowski', 'minkowski', 'minkowski',
                   'minkowski', 'minkowski', 'minkowski', 'minkowski',
                   'minkowski', 'minkowski', 'minkowski', 'minkowski'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_neighbors': masked_array(data=[10, 10, 50, 50, 100, 100, 10, 10, 50, 50, 100, 100, 10,
                   10, 50, 50, 100, 100, 10, 10, 50, 50, 100, 100],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_p': masked_array(data=[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
                   2, 2, 2, 2, 2, 2],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_weights': masked_array(data=['uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance',
                   'uniform', 'distance', 'uniform', 'distance'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'algorithm': 'auto', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'auto', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'distance'}, {'algorithm': 'auto', 'metric': 'minkowski', 'n_neighbors': 50, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'auto', 'metric': 'minkowski', 'n_neighbors': 50, 'p': 2, 'weights': 'distance'}, {'algorithm': 'auto', 'metric': 'minkowski', 'n_neighbors': 100, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'auto', 'metric': 'minkowski', 'n_neighbors': 100, 'p': 2, 'weights': 'distance'}, {'algorithm': 'ball_tree', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'ball_tree', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'distance'}, {'algorithm': 'ball_tree', 'metric': 'minkowski', 'n_neighbors': 50, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'ball_tree', 'metric': 'minkowski', 'n_neighbors': 50, 'p': 2, 'weights': 'distance'}, {'algorithm': 'ball_tree', 'metric': 'minkowski', 'n_neighbors': 100, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'ball_tree', 'metric': 'minkowski', 'n_neighbors': 100, 'p': 2, 'weights': 'distance'}, {'algorithm': 'kd_tree', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'kd_tree', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'distance'}, {'algorithm': 'kd_tree', 'metric': 'minkowski', 'n_neighbors': 50, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'kd_tree', 'metric': 'minkowski', 'n_neighbors': 50, 'p': 2, 'weights': 'distance'}, {'algorithm': 'kd_tree', 'metric': 'minkowski', 'n_neighbors': 100, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'kd_tree', 'metric': 'minkowski', 'n_neighbors': 100, 'p': 2, 'weights': 'distance'}, {'algorithm': 'brute', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'brute', 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'distance'}, {'algorithm': 'brute', 'metric': 'minkowski', 'n_neighbors': 50, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'brute', 'metric': 'minkowski', 'n_neighbors': 50, 'p': 2, 'weights': 'distance'}, {'algorithm': 'brute', 'metric': 'minkowski', 'n_neighbors': 100, 'p': 2, 'weights': 'uniform'}, {'algorithm': 'brute', 'metric': 'minkowski', 'n_neighbors': 100, 'p': 2, 'weights': 'distance'}], 'split0_test_score': array([0.89453125, 0.96457219, 0.80564439, 0.82371795, 0.71136654,
       0.73086124, 0.89453125, 0.96457219, 0.80564439, 0.82371795,
       0.71136654, 0.73086124, 0.89453125, 0.96457219, 0.80564439,
       0.82371795, 0.71136654, 0.73086124, 0.89453125, 0.96457219,
       0.80564439, 0.82371795, 0.71136654, 0.73086124]), 'split1_test_score': array([0.89453125, 0.92951252, 0.84161041, 0.85935484, 0.76881978,
       0.76881978, 0.89453125, 0.92951252, 0.84161041, 0.85935484,
       0.76881978, 0.76881978, 0.89453125, 0.92951252, 0.84161041,
       0.85935484, 0.76881978, 0.76881978, 0.89453125, 0.92951252,
       0.84161041, 0.85935484, 0.76881978, 0.76881978]), 'split2_test_score': array([0.92951252, 0.92951252, 0.71136654, 0.76881978, 0.67115385,
       0.67115385, 0.92951252, 0.92951252, 0.71136654, 0.76881978,
       0.67115385, 0.67115385, 0.92951252, 0.92951252, 0.71136654,
       0.76881978, 0.67115385, 0.67115385, 0.92951252, 0.92951252,
       0.71136654, 0.76881978, 0.67115385, 0.67115385]), 'split3_test_score': array([0.96457219, 0.96457219, 0.80564439, 0.80564439, 0.75      ,
       0.76881978, 0.96457219, 0.96457219, 0.80564439, 0.80564439,
       0.75      , 0.76881978, 0.96457219, 0.96457219, 0.80564439,
       0.80564439, 0.75      , 0.76881978, 0.96457219, 0.96457219,
       0.80564439, 0.80564439, 0.75      , 0.76881978]), 'split4_test_score': array([0.96391185, 0.96391185, 0.92816206, 0.92816206, 0.8383214 ,
       0.87451565, 0.96391185, 0.96391185, 0.92816206, 0.92816206,
       0.8383214 , 0.87451565, 0.96391185, 0.96391185, 0.92816206,
       0.92816206, 0.8383214 , 0.87451565, 0.96391185, 0.96391185,
       0.92816206, 0.92816206, 0.8383214 , 0.87451565]), 'mean_test_score': array([0.92941181, 0.95041625, 0.81848556, 0.8371398 , 0.74793231,
       0.76283406, 0.92941181, 0.95041625, 0.81848556, 0.8371398 ,
       0.74793231, 0.76283406, 0.92941181, 0.95041625, 0.81848556,
       0.8371398 , 0.74793231, 0.76283406, 0.92941181, 0.95041625,
       0.81848556, 0.8371398 , 0.74793231, 0.76283406]), 'std_test_score': array([0.03117634, 0.01706953, 0.06981113, 0.05407086, 0.05628985,
       0.06629021, 0.03117634, 0.01706953, 0.06981113, 0.05407086,
       0.05628985, 0.06629021, 0.03117634, 0.01706953, 0.06981113,
       0.05407086, 0.05628985, 0.06629021, 0.03117634, 0.01706953,
       0.06981113, 0.05407086, 0.05628985, 0.06629021]), 'rank_test_score': array([ 5,  1, 13,  9, 21, 17,  5,  1, 13,  9, 21, 17,  5,  1, 13,  9, 21,
       17,  5,  1, 13,  9, 21, 17])}

In [17]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_metric,param_n_neighbors,param_p,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.011394,0.001958,0.015790,0.004398,auto,minkowski,10,2,uniform,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.894531,0.894531,0.929513,0.964572,0.963912,0.929412,0.031176,5
1,0.009392,0.003928,0.006599,0.004219,auto,minkowski,10,2,distance,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.964572,0.929513,0.929513,0.964572,0.963912,0.950416,0.017070,1
2,0.009193,0.003187,0.009595,0.001742,auto,minkowski,50,2,uniform,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.805644,0.841610,0.711367,0.805644,0.928162,0.818486,0.069811,13
3,0.008793,0.001719,0.005797,0.000979,auto,minkowski,50,2,distance,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.823718,0.859355,0.768820,0.805644,0.928162,0.837140,0.054071,9
4,0.011193,0.005415,0.011393,0.002575,auto,minkowski,100,2,uniform,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.711367,0.768820,0.671154,0.750000,0.838321,0.747932,0.056290,21
5,0.013392,0.007653,0.007595,0.003553,auto,minkowski,100,2,distance,"{'algorithm': 'auto', 'metric': 'minkowski', '...",0.730861,0.768820,0.671154,0.768820,0.874516,0.762834,0.066290,17
6,0.010593,0.007224,0.009594,0.001623,ball_tree,minkowski,10,2,uniform,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.894531,0.894531,0.929513,0.964572,0.963912,0.929412,0.031176,5
7,0.010392,0.004028,0.005996,0.001414,ball_tree,minkowski,10,2,distance,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.964572,0.929513,0.929513,0.964572,0.963912,0.950416,0.017070,1
8,0.009394,0.003073,0.014390,0.004451,ball_tree,minkowski,50,2,uniform,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.805644,0.841610,0.711367,0.805644,0.928162,0.818486,0.069811,13
9,0.009394,0.003927,0.005397,0.001356,ball_tree,minkowski,50,2,distance,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.823718,0.859355,0.768820,0.805644,0.928162,0.837140,0.054071,9
10,0.009396,0.001625,0.010392,0.001199,ball_tree,minkowski,100,2,uniform,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.711367,0.768820,0.671154,0.750000,0.838321,0.747932,0.056290,21
11,0.007595,0.000800,0.006596,0.000799,ball_tree,minkowski,100,2,distance,"{'algorithm': 'ball_tree', 'metric': 'minkowsk...",0.730861,0.768820,0.671154,0.768820,0.874516,0.762834,0.066290,17
12,0.010193,0.001599,0.009595,0.001020,kd_tree,minkowski,10,2,uniform,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.894531,0.894531,0.929513,0.964572,0.963912,0.929412,0.031176,5
13,0.009395,0.001356,0.004997,0.000003,kd_tree,minkowski,10,2,distance,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.964572,0.929513,0.929513,0.964572,0.963912,0.950416,0.017070,1
14,0.011392,0.002575,0.008995,0.000632,kd_tree,minkowski,50,2,uniform,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.805644,0.841610,0.711367,0.805644,0.928162,0.818486,0.069811,13
15,0.008996,0.000894,0.005595,0.000490,kd_tree,minkowski,50,2,distance,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.823718,0.859355,0.768820,0.805644,0.928162,0.837140,0.054071,9
16,0.008794,0.001325,0.010593,0.000799,kd_tree,minkowski,100,2,uniform,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.711367,0.768820,0.671154,0.750000,0.838321,0.747932,0.056290,21
17,0.006396,0.000801,0.006196,0.000748,kd_tree,minkowski,100,2,distance,"{'algorithm': 'kd_tree', 'metric': 'minkowski'...",0.730861,0.768820,0.671154,0.768820,0.874516,0.762834,0.066290,17
18,0.006595,0.001020,0.008596,0.001201,brute,minkowski,10,2,uniform,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.894531,0.894531,0.929513,0.964572,0.963912,0.929412,0.031176,5
19,0.006595,0.000491,0.004197,0.000400,brute,minkowski,10,2,distance,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.964572,0.929513,0.929513,0.964572,0.963912,0.950416,0.017070,1
20,0.006996,0.001413,0.007795,0.001166,brute,minkowski,50,2,uniform,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.805644,0.841610,0.711367,0.805644,0.928162,0.818486,0.069811,13
21,0.003798,0.000749,0.002797,0.000400,brute,minkowski,50,2,distance,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.823718,0.859355,0.768820,0.805644,0.928162,0.837140,0.054071,9
22,0.003198,0.000401,0.005196,0.000401,brute,minkowski,100,2,uniform,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.711367,0.768820,0.671154,0.750000,0.838321,0.747932,0.056290,21
23,0.005197,0.000748,0.005197,0.000748,brute,minkowski,100,2,distance,"{'algorithm': 'brute', 'metric': 'minkowski', ...",0.730861,0.768820,0.671154,0.768820,0.874516,0.762834,0.066290,17